.row{
    display: flex;
    gap: 1rem;
    background: #222;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

.rowContainer h5{
    color: white;
    border-bottom: 0.1rem solid #888;
    padding-bottom: 1rem;
}