.App {
   /* width: 100vw; */
   background: #444;
   display: grid;
   grid-template-columns: 1rem 1fr 1rem 3fr 1rem;
   grid-template-rows: 1rem auto 2rem;
   grid-template-areas: ". . . . ."
                        ". sidebar . main ."
                        ". . . . .";
}

.App main h2{
  color: white;
}

.App main h4{
  color: #ddd;
}

.main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80vw;
}

.sidebar{
  grid-area: sidebar;
}